<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{{creater.full_name}}'s Skills</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="stylesheet" href="{% static 'taskbar.css' %}">
    <link rel="stylesheet" href="{% static 'formpage.css' %}">
    <style>
        .skill-box {
                background-color: rgb(63, 52, 217);
                width: 80%;
                height: 30%;
                align-items: center;
                margin: auto;
        }
        .button {
            background-color: rgb(91, 84, 188);
            border-radius: 10px;
        }
        .button:hover {
            background-color: rgb(122, 113, 254);
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let sections = document.querySelectorAll('section');
    
            window.onscroll = () => {
                sections.forEach(sec => {
                    let top = window.scrollY;
                    let offset = sec.offsetTop;
                    let height = sec.offsetHeight; 
    
                    if (top >= offset && top <= offset + height) {
                        sec.classList.add('animate-1');
                        sec.classList.remove('animate-2');
                    }else{
                        sec.classList.add('animate-2');
                        sec.classList.remove('animate-1');
                    }
                });
            };
        });
    </script>
    
</head>
<body>
    <div class="taskbar">
        <ul>
            <li>
                <p>Your's:</p>
            </li>
            <li style="float:left">
                
                <form action="/{{user.username}}">
                    <input type = 'Submit' value="Home" class = 'bar_buttons'/>
                </form>
            </li>
            <li style="float:left">
                <form action="/{{user.username}}/allskills">    
                    <input type = 'Submit' value="All Skills" class = 'bar_buttons'/>
                </form>
            </li>
            <li style="float:left">
                <form action="/{{user.username}}/certificates">    
                    <input type = 'Submit' value="Certificates" class = 'bar_buttons'/>
                </form>
            </li>

            <li class="flex-grow">
                <form>
                    <input type="search" placeholder="Search..." class="search_bar"/>
                </form>
            </li>
          
            <li style="float: right;">
                <form action="/{{user.username}}/profile">    
                    <button type='submit' class = 'bar_buttons' style="height: auto;">
                        {% load static %}
                        <div class="image_t" style="display: flex; align-items: center;">
                            <img src="{{creater.image.url}}" alt="{{ user.username }}"><p> </p>
                            <p style="margin-top: 0%; margin-bottom: 0%;">{{ user.username }}</p>
                        </div>
                    </button>
                </form>
            </li>
            <li style="float: right;">
                <form action="/{{user.username}}/logout">    
                    <input class = 'bar_buttons red' type = 'Submit' value="Logout"/>
                </form>
            </li>  
            
        </ul>
    </div>

    <form class="fill" method="POST" action="savecertificate" enctype="multipart/form-data">
        {% csrf_token %}
        
        <input type="hidden" name="certificate_name_og" value="{{certificate_name}}">
        <p style="margin-top: 12%">Certificate's title: </p>
        <br><input type="text" name="certificate_name" value="{{certificate_name}}">        
        <br><p>Certificate's Image(in jpeg,jpg,png format only): </p>
        <br><img style=" height: 200px;" src = {{certificate_image.url}} alt="Certificate image Unavailable..." style="height: 80%;">
        <br><br><input type="file" name="certificate_image" accept="image/*" placeholder="Upload New Image">
        <br><p>Certificate's short description: </p>
        <br><input name="short_discription" value="{{short_discription}}"></textarea>
        <br><p>Certificate's detailed description: </p>
        <br><textarea name="detailed_discription" value="{{detailed_discription}}">{{detailed_discription}}</textarea><br>
        <br><br><button type="submit" class="button">Update</button>          
    </form>

    
</body>
</html>
