.taskbar {
    background-color: rgb(30, 30, 70); /* Dark blue background for taskbar */
    color: rgb(255, 255, 255); /* White text color */
    padding: 1%;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    position: fixed;
    width: 95%;
    height: 11%;
    z-index: 1000;
    border-radius: 10px; 
}

.taskbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.taskbar li {
    margin-right: 20px;
    text-align: center;
}

.taskbar input[type="search"] {
    background-color: rgb(20, 20, 60); /* Darker blue background for search bar */
    color: rgb(255, 255, 255); /* White text color */
    border: none;
    border-radius: 20px; /* Rounded edges */
    padding: 8px;
    width: 100%; /* Variable-size search bar */
    box-sizing: border-box; /* Include padding in width calculation */
    font-size: 14px;
}

.taskbar input[type="search"]::placeholder {
    color: rgb(150, 150, 150); /* Light gray placeholder text */
}

.taskbar input[type="search"]:focus {
    outline: none; /* Remove outline on focus */
    border: 2px solid rgb(30, 30, 70); /* Dark blue border on focus */
}
.image_t img {
    object-fit: cover;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px;
    border-color: aliceblue;
}
.image_t p {
    padding-bottom: 2%;
}

.bar_buttons {
    background-color: rgb(38, 53, 88); /* Darker blue background for buttons */
    color: rgb(168, 168, 168); /* White text color */
    border: none;
    border-radius: 5%;
    padding: 8px 16px;
    cursor: pointer;
}

.bar_buttons.red {
    background-color: rgb(200, 0, 0); /* Red background for logout button */
}
